@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{

    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body{
    font-family: 'Poppins', sans-serif;

}
.header{
    background-color:green;
    color: white;
    font-size: 15px;
    padding: 10px;
}
.container{
margin: 3em 0 0 1.5em;
background-color: whitesmoke;
display: flex;
flex-direction: column;
gap: 2em;
padding: 1.5em;
height: 100vh;
}
.container p{
background-color: white;
padding: 10px;
}